@use 'sass:list' as list;
@use '@styles/helpers.scss' as helpers;

$COLORS: (
  '#f00',
  '#0f0',
  '#4040ff',
  '#ff0',
  '#f0f',
  '#0ff'
);

.header {
  font-size: 1.3em;
  font-weight: bold;
}

.link {
  --link-background: var(--bg-color);
  --icon-color: var(--color);
  --icon-height: 1.7rem;

  background-color: var(--link-background);
  border-radius: 1rem;
  justify-content: center;
  margin-bottom: 1rem;
  padding: 0.8rem;
  position: relative;
  transition: .2s linear;
  transition-property: background-color, border-radius;

  span {
    background-color: var(--link-background);
    border-radius: 0.5rem;
    color: var(--color);
    display: block;
    left: 110%;
    padding: 1em 0.5em;
    position: absolute;
    scale: 0;
    top: 50%;
    transform-origin: center left;
    transition: scale .2s linear;
    translate: 0 -50%;
    white-space: nowrap;
  }

  &:hover {
    --icon-color: var(--link-background);

    background-color: var(--color);
    border-radius: 0.5rem;

    span {
      display: block;
      scale: 1;
    }
  }

  @include helpers.beforeIcon;
}

$length: list.length($COLORS);

@each $color in $COLORS {
  $index: list.index($COLORS, $color);
  $selector: $length + 'n' + ' + #{$index}';

  .link:not(.selected):nth-child(#{$selector}) {
    --color: #{$color};
  }
}

.wrapper {
  background-color: var(--bg-color-dark0);
  height: 100vh;
  padding: 1em;
  width: 55px;
}