@use 'sass:list' as list;
@use '@styles/chatColors.scss' as chatColors;
@use '@styles/helpers.scss' as helpers;

.input {}

.loading {}

.typing {
  margin: 0.5em;
  font-size: 0.8em;
  color: var(--text-color-dark0);
  pointer-events: none;
  user-select: none;
}

.wrapper {}
