@use 'sass:list' as list;
@use '@styles/chatColors.scss' as chatColors;
@use '@styles/helpers.scss' as helpers;

.header {
  background-color: var(--bg-color-dark0);
  padding: 0.5em;
  display: flex;
  box-shadow: 0 2px 5px rgb(0, 0, 0, 0.5);
  flex-flow: row nowrap;
  align-items: center;
}

.header-name {
  color: var(--color);
  font-size: 1.5em;

  &:before {
    margin-right: 0.5em;
  }

  @include helpers.beforeIcon;
}

$length: list.length(chatColors.$COLORS);

@each $color in chatColors.$COLORS {
  $index: list.index(chatColors.$COLORS, $color);

  .header-name.chat-#{$index} {
    --color: #{$color};
    --icon-color: #{$color};
  }
}

.main {
  flex: 1 0 auto;
  display: flex;
  flex-flow: column nowrap;
}

.user-count {
  margin-left: 0.7em;
  font-size: 0.8em;
  color: var(--text-color-dark0);
}