html,
body {
  background: var(--bg-color);
  color: var(--text-color);
  font-family: Ubuntu, Arial, Helvetica, sans-serif;
  margin: 0;
  min-width: 700px;
  padding: 0;
}

a {
  --color: var(--link-color);

  color: var(--color);
  text-decoration: none;
  transition: color .2s linear;

  &:hover {
    --color: var(--link-color-hover);

    text-decoration: underline;
  }
}

button {
  --color: var(--link-color);

  background: var(--bg-color-dark0);
  border: 2px solid var(--color);
  border-radius: var(--radius);
  color: var(--color);
  cursor: pointer;
  margin: 0.3em;
  padding: 0.3em 0.5em;
  transition: border .2s linear, color .2s linear;

  &:disabled {
    pointer-events: none;
  }

  &:hover {
    --color: var(--link-color-hover);
  }
}

code {
  background: var(--bg-color-dark1);
  padding: 0.3em 0.5em;
}

dialog {
  background: var(--bg-color);
  border-radius: 1em;
  color: var(--text-color);

  &::backdrop {
    background: rgb(0 0 0 / 50%);
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 0.5em;
  padding: 0;
}

label[for] {
  cursor: pointer;
}

input:is([type='number'], [type='password'], [type='text']),
textarea label[for] {
  --color: var(--input-color);

  background: var(--bg-color-dark0);
  border: 2px solid var(--color);
  border-radius: var(--radius);
  color: var(--color);
  margin: 0.3em;
  outline: none;
  padding: 0.3em 0.5em;
  transition: border .2s linear, color .2s linear;

  &:disabled,
  &[readonly] {
    --color: var(--input-color-disabled);

    font-style: italic;
  }

  &:focus {
    --color: var(--input-color-focus);
  }

  &:hover:not(:disabled, :focus) {
    --color: var(--input-color-hover);
  }
}

main {
  padding: 1em 0 0 1em;
}

p {
  margin: 0 0 0.5em;
  padding: 0;
}

#root {
  display: flex;
  flex-flow: row nowrap;
}