:root {
  --bg-color: #232323;
  --bg-color-dark: #161616;
  --link-color: #20a9a4;
  --link-color-disabled: #1b8884;
  --link-color-hover: #26cbc5;
  --input-color: #a6a6a6;
  --input-color-disabled: #7b7b7b;
  --input-color-hover: #cdcdcd;
  --radius: 0.8em;
  --text-color: #ddd;
}