---
import Default from '@layouts/Default.astro';
import { AvatarWidget } from '@widgets/avatar';
import { TextWidget } from '@widgets/text';
---

<Default>
  <main>
    <h1>Test-APIs - Demo</h1>
    <p>lorem ipsum</p>

    <AvatarWidget client:only="solid-js" />
    <TextWidget client:only="solid-js" />
  </main>
</Default>
