html,
body {
  background: var(--bg-color);
  color: var(--text-color);
  font-family: Ubuntu, Arial, Helvetica, sans-serif;
  margin: 0;
  min-width: 700px;
  padding: 0;
}

a {
  --color: var(--link-color);

  color: var(--color);
  text-decoration: none;
  transition: color .2s linear;

  &:hover {
    --color: var(--link-color-hover);

    text-decoration: underline;
  }
}

button {
  --color: var(--link-color);

  background: var(--bg-color-dark);
  border: 2px solid var(--color);
  border-radius: var(--radius);
  color: var(--color);
  cursor: pointer;
  margin: 0.3em;
  padding: 0.3em 0.5em;
  transition: border .2s linear, color .2s linear;

  &:disabled {
    pointer-events: none;
  }

  &:hover {
    --color: var(--link-color-hover);
  }
}

code {
  background: var(--bg-color-dark);
  padding: 0.3em 0.5em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 0.5em;
  padding: 0;
}

input:is([type='number'], [type='text']),
textarea label[for] {
  --color: var(--input-color);

  background: var(--bg-color-dark);
  border: 2px solid var(--color);
  border-radius: var(--radius);
  color: var(--color);
  margin: 0.3em;
  padding: 0.3em 0.5em;
  transition: border .2s linear, color .2s linear;

  &:disabled,
  &[readonly] {
    --color: var(--input-color-disabled);

    font-style: italic;
  }

  &:hover:not(:disabled) {
    --color: var(--input-color-hover);
  }
}

main {
  margin: 1em auto;
  max-width: 750px;
  padding: 0 1.5em;
}

p {
  margin: 0 0 0.5em;
  padding: 0;
}

section {
  margin: 1.5em;
}