---
import SolidJsWidget from '@components/widgets/solidjs';
import Default from '@layouts/Default.astro';
---

<Default>
  <main>
    <h1>Test-Widgets - SolidJS</h1>
    <p>lorem ipsum</p>

    <SolidJsWidget client:only="solid-js" />
  </main>
</Default>
